<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Exploratory Data Analysis</a></span></li><li><span><a href="#Creating-df_rape" data-toc-modified-id="Creating-df_rape-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Creating df_rape</a></span></li><li><span><a href="#Data-Cleanup" data-toc-modified-id="Data-Cleanup-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Cleanup</a></span></li><li><span><a href="#Creation-of-datetime-column" data-toc-modified-id="Creation-of-datetime-column-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Creation of datetime column</a></span></li><li><span><a href="#Prepping-for-model" data-toc-modified-id="Prepping-for-model-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Prepping for model</a></span></li><li><span><a href="#Creating-dummies-for-df_model" data-toc-modified-id="Creating-dummies-for-df_model-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Creating dummies for df_model</a></span></li><li><span><a href="#Feature-Engineering" data-toc-modified-id="Feature-Engineering-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Feature Engineering</a></span></li><li><span><a href="#Creation-of-df_model" data-toc-modified-id="Creation-of-df_model-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Creation of df_model</a></span></li></ul></div>

In [ ]:
# Note: A 538 Article on Sexual Assault
# https://projects.fivethirtyeight.com/sexual-assault-victims/

# Exploratory Data Analysis

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import math
import seaborn as sns
import sklearn
from sklearn import linear_model
from sklearn import preprocessing
%matplotlib inline
sns.set_style('white')

In [2]:
# Data from https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i
df = pd.read_csv('NYPD_Complaint_Data_Historic.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,12/31/2015,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,44.0,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,153401121,12/31/2015,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,103.0,OUTSIDE,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,569369778,12/31/2015,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",...,28.0,NaN,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,968417082,12/31/2015,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,105.0,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,641637920,12/31/2015,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,13.0,FRONT OF,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)"

In [4]:
df.shape

(6048796, 24)

In [5]:
df.dtypes

CMPLNT_NUM             int64
CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
CMPLNT_TO_DT          object
CMPLNT_TO_TM          object
RPT_DT                object
KY_CD                  int64
OFNS_DESC             object
PD_CD                float64
PD_DESC               object
CRM_ATPT_CPTD_CD      object
LAW_CAT_CD            object
JURIS_DESC            object
BORO_NM               object
ADDR_PCT_CD          float64
LOC_OF_OCCUR_DESC     object
PREM_TYP_DESC         object
PARKS_NM              object
HADEVELOPT            object
X_COORD_CD           float64
Y_COORD_CD           float64
Latitude             float64
Longitude            float64
Lat_Lon               object
dtype: object

In [6]:
# Taking the subset of this data, the 16673 rows specifically about rape
df['OFNS_DESC'].value_counts()

PETIT LARCENY                           987326
HARRASSMENT 2                           736479
ASSAULT 3 & RELATED OFFENSES            625624
CRIMINAL MISCHIEF & RELATED OF          603977
GRAND LARCENY                           516544
DANGEROUS DRUGS                         392992
OFF. AGNST PUB ORD SENSBLTY &           327716
ROBBERY                                 228220
FELONY ASSAULT                          224921
BURGLARY                                216439
MISCELLANEOUS PENAL LAW                 145888
DANGEROUS WEAPONS                       143395
OFFENSES AGAINST PUBLIC ADMINI          117062
GRAND LARCENY OF MOTOR VEHICLE          114071
INTOXICATED & IMPAIRED DRIVING           85349
CRIMINAL TRESPASS                        74083
VEHICLE AND TRAFFIC LAWS                 72173
SEX CRIMES                               68020
THEFT-FRAUD                              66184
FORGERY                                  61024
FRAUDS                                   38308
POSSESSION OF STOLEN PROPERTY            33169
OFFENSES INVOLVING FRAUD                 20143
UNAUTHORIZED USE OF A VEHICLE            17301
RAPE                                     16673
ARSON                                    15439
OFFENSES AGAINST THE PERSON              14914
ADMINISTRATIVE CODE                      13274
OTHER OFFENSES RELATED TO THEF           12962
OTHER STATE LAWS (NON PENAL LA            6075
                                         ...
ALCOHOLIC BEVERAGE CONTROL LAW             994
DISORDERLY CONDUCT                         932
OFFENSES AGAINST PUBLIC SAFETY             913
CHILD ABANDONMENT/NON SUPPORT              406
JOSTLING                                   386
AGRICULTURE & MRKTS LAW-UNCLASSIFIED       347
OTHER STATE LAWS                           264
LOITERING/GAMBLING (CARDS, DIC             234
ENDAN WELFARE INCOMP                       203
ESCAPE 3                                   185
ANTICIPATORY OFFENSES                      102
HOMICIDE-NEGLIGENT-VEHICLE                  97
NEW YORK CITY HEALTH CODE                   85
UNLAWFUL POSS. WEAP. ON SCHOOL              64
HOMICIDE-NEGLIGENT,UNCLASSIFIE              52
DISRUPTION OF A RELIGIOUS SERV              51
INTOXICATED/IMPAIRED DRIVING                50
NYS LAWS-UNCLASSIFIED VIOLATION             26
LOITERING                                   23
LOITERING FOR DRUG PURPOSES                 23
KIDNAPPING                                  21
ADMINISTRATIVE CODES                        19
LOITERING/DEVIATE SEX                       16
OTHER TRAFFIC INFRACTION                    13
FORTUNE TELLING                             11
OTHER STATE LAWS (NON PENAL LAW)            10
ABORTION                                     5
OFFENSES AGAINST MARRIAGE UNCL               3
UNDER THE INFLUENCE OF DRUGS                 3
KIDNAPPING AND RELATED OFFENSES              2
Name: OFNS_DESC, Length: 70, dtype: int64

In [ ]:
# Non-meaningful columns that need to be deleted 
# KY_CD: Meaningless- identical in subset of rape data
# PD_DESC: identical to PD_CD
# LAW_CAT_CD
# JURIS_DESC
# LOC_OF_OCCUR_DESC
# PARKS_NM
# HADEVELOPT
# X_COORD_CD
# Y_COORD_CD
# Latitude
# Longitude
# Lat_Lon

In [7]:
df = df.drop(['KY_CD','PD_DESC','LAW_CAT_CD','JURIS_DESC','LOC_OF_OCCUR_DESC','PARKS_NM','HADEVELOPT','X_COORD_CD','Y_COORD_CD','Latitude','Longitude','Lat_Lon'], axis = 1)

# Creating df_rape

In [23]:
df_rape = df.loc[df['OFNS_DESC'] == 'RAPE']

In [24]:
df_rape.shape

(16673, 12)

In [25]:
df_rape.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,OFNS_DESC,PD_CD,CRM_ATPT_CPTD_CD,BORO_NM,ADDR_PCT_CD,PREM_TYP_DESC
21,340513307,04/06/2015,12:00:00,04/10/2015,18:00:00,12/21/2015,RAPE,155.0,COMPLETED,QUEENS,110.0,OTHER
252,198273659,12/01/2009,10:00:00,01/01/2010,10:00:00,12/07/2015,RAPE,157.0,COMPLETED,BROOKLYN,66.0,RESIDENCE - APT. HOUSE
821,591506102,12/30/2015,18:00:00,12/30/2015,23:00:00,12/31/2015,RAPE,157.0,COMPLETED,QUEENS,102.0,RESIDENCE-HOUSE
1079,283109223,08/01/2015,00:01:00,12/30/2015,22:25:00,12/31/2015,RAPE,153.0,COMPLETED,MANHATTAN,25.0,RESIDENCE - APT. HOUSE
1754,361697946,12/30/2015,03:04:00,12/30/2015,05:19:00,12/30/2015,RAPE,157.0,COMPLETED,MANHATTAN,20.0,HOTEL/MOTEL

In [26]:
# The outcome variable, rape completed vs attempted
df_rape['CRM_ATPT_CPTD_CD'].value_counts()

COMPLETED    14843
ATTEMPTED     1830
Name: CRM_ATPT_CPTD_CD, dtype: int64

# Data Cleanup

In [18]:
df_rape.isnull().sum()

CMPLNT_NUM             0
CMPLNT_FR_DT           1
CMPLNT_FR_TM           0
CMPLNT_TO_DT        3604
CMPLNT_TO_TM        3598
RPT_DT                 0
OFNS_DESC              0
PD_CD                  0
CRM_ATPT_CPTD_CD       0
BORO_NM                4
ADDR_PCT_CD            4
PREM_TYP_DESC         63
dtype: int64

In [27]:
df_rape = df_rape.dropna(subset=['PREM_TYP_DESC','BORO_NM'])

In [29]:
df_rape.loc[df_rape['CMPLNT_FR_DT'].isna(), 'CMPLNT_FR_DT'] = df_rape.loc[df_rape['CMPLNT_FR_DT'].isna(), 'CMPLNT_TO_DT']

In [30]:
df_rape.isnull().sum()

CMPLNT_NUM             0
CMPLNT_FR_DT           0
CMPLNT_FR_TM           0
CMPLNT_TO_DT        3590
CMPLNT_TO_TM        3585
RPT_DT                 0
OFNS_DESC              0
PD_CD                  0
CRM_ATPT_CPTD_CD       0
BORO_NM                0
ADDR_PCT_CD            0
PREM_TYP_DESC          0
dtype: int64

In [31]:
# Check cells
df_rape.sort_values(by='CMPLNT_FR_TM', ascending=False)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,OFNS_DESC,PD_CD,CRM_ATPT_CPTD_CD,BORO_NM,ADDR_PCT_CD,PREM_TYP_DESC
3725023,413481078,06/25/2005,24:00:00,NaN,NaN,07/24/2008,RAPE,157.0,COMPLETED,BRONX,49.0,RESIDENCE-HOUSE
3841346,635227790,08/01/2006,24:00:00,09/30/2006,24:00:00,05/07/2008,RAPE,157.0,COMPLETED,STATEN ISLAND,123.0,RESIDENCE-HOUSE
3601184,357409136,01/01/2007,24:00:00,10/13/2008,24:00:00,10/14/2008,RAPE,157.0,COMPLETED,MANHATTAN,34.0,RESIDENCE - APT. HOUSE
3179713,678406708,04/01/2004,24:00:00,06/01/2005,23:59:00,08/12/2009,RAPE,157.0,COMPLETED,QUEENS,113.0,RESIDENCE-HOUSE
3379603,282308644,01/01/2004,24:00:00,12/31/2004,23:59:00,03/26/2009,RAPE,157.0,COMPLETED,BROOKLYN,67.0,RESIDENCE-HOUSE
4100307,920549674,08/01/2000,24:00:00,NaN,NaN,11/06/2007,RAPE,157.0,COMPLETED,BROOKLYN,67.0,RESIDENCE-HOUSE
3372363,486159316,03/28/2009,24:00:00,NaN,NaN,03/31/2009,RAPE,153.0,COMPLETED,BRONX,43.0,RESIDENCE - APT. HOUSE
3894448,268184195,03/30/2008,24:00:00,NaN,NaN,03/31/2008,RAPE,157.0,COMPLETED,MANHATTAN,34.0,RESIDENCE - PUBLIC HOUSING
3838102,937145860,10/12/2007,24:00:00,NaN,NaN,05/09/2008,RAPE,157.0,COMPLETED,MANHATTAN,6.0,RESIDENCE - APT. HOUSE
3639701,550075977,07/27/2006,24:00:00,09/01/2006,00:01:00,09/18/2008,RAPE,157.0,COMPLETED,MANHATTAN,34.0,RESIDENCE - APT. HOUSE
3439084,763217678,09/01/2008,24:00:00,01/12/2009,24:00:00,02/11/2009,RAPE,153.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE-HOUSE
3448223,742908077,05/01/2008,24:00:00,01/19/2009,23:59:00,02/04/2009,RAPE,157.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE - APT. HOUSE
4011256,266934295,10/31/2007,24:00:00,NaN,NaN,01/09/2008,RAPE,157.0,COMPLETED,BROOKLYN,70.0,RESIDENCE - APT. HOUSE
3441876,965083518,11/01/2008,24:00:00,11/15/2008,24:00:00,02/09/2009,RAPE,157.0,COMPLETED,QUEENS,105.0,RESIDENCE - APT. HOUSE
4153011,833029701,08/29/2007,24:00:00,NaN,NaN,10/03/2007,RAPE,157.0,COMPLETED,BRONX,47.0,RESIDENCE - PUBLIC HOUSING
3466499,829061498,06/01/2002,24:00:00,01/06/2009,15:35:00,01/21/2009,RAPE,157.0,COMPLETED,STATEN ISLAND,122.0,RESIDENCE-HOUSE
4018704,150676051,02/01/2007,24:00:00,NaN,NaN,01/04/2008,RAPE,155.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE-HOUSE
3659304,674449658,11/28/2007,24:00:00,NaN,NaN,09/05/2008,RAPE,153.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE - APT. HOUSE
3764810,495193568,06/01/2007,24:00:00,06/12/2008,23:59:00,06/27/2008,RAPE,157.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE - APT. HOUSE
1518351,727158082,09/27/2012,23:59:00,09/28/2012,06:00:00,11/21/2012,RAPE,157.0,COMPLETED,BROOKLYN,94.0,RESIDENCE-HOUSE
3530288,388506052,10/31/2008,23:59:00,11/01/2008,01:30:00,12/03/2008,RAPE,155.0,COMPLETED,QUEENS,103.0,RESIDENCE-HOUSE
1368602,254875686,08/01/2009,23:59:00,10/01/2009,23:59:00,03/19/2013,RAPE,155.0,COMPLETED,BROOKLYN,67.0,RESIDENCE - APT. HOUSE
5825424,193841184,01/01/2007,23:59:00,01/01/2009,23:59:00,06/28/2017,RAPE,157.0,COMPLETED,BROOKLYN,75.0,RESIDENCE - APT. HOUSE
508653,659693240,02/22/2011,23:59:00,12/01/2014,23:59:00,12/05/2014,RAPE,157.0,COMPLETED,BROOKLYN,63.0,STREET
5653522,764722415,10/20/2015,23:59:00,03/01/2017,00:01:00,11/02/2017,RAPE,153.0,COMPLETED,BRONX,46.0,RESIDENCE - APT. HOUSE
4205889,209087992,08/29/2007,23:59:00,NaN,NaN,08/30/2007,RAPE,157.0,COMPLETED,BROOKLYN,77.0,RESIDENCE - APT. HOUSE
1338629,147330787,04/10/2013,23:59:00,04/11/2013,00:30:00,04/11/2013,RAPE,157.0,COMPLETED,BROOKLYN,79.0,RESIDENCE - APT. HOUSE
3369479,422182987,12/28/2008,23:59:00,12/29/2008,10:00:00,04/02/2009,RAPE,157.0,COMPLETED,MANHATTAN,17.0,HOTEL/MOTEL
4205888,133471489,08/29/2007,23:59:00,08/30/2007,01:45:00,08/30/2007,RAPE,157.0,COMPLETED,BROOKLYN,77.0,RESIDENCE - APT. HOUSE
1368599,407442373,07/01/2010,23:59:00,06/01/2011,23:59:00,03/19/2013,RAPE,155.0,COMPLETED,BROOKLYN,67.0,RESIDENCE - APT. HOUSE
...,...,...,...,...,...,...,...,...,...,...,...,...
5641467,487476240,11/11/2017,00:00:00,11/11/2017,06:30:00,11/11/2017,RAPE,157.0,COMPLETED,QUEENS,114.0,RESIDENCE - APT. HOUSE
98928,494931087,04/15/2015,00:00:00,05/15/2015,00:00:00,10/16/2015,RAPE,155.0,COMPLETED,BRONX,42.0,RESIDENCE - PUBLIC HOUSING
5184658,597428482,01/01/2006,00:00:00,12/31/2007,23:59:00,10/26/2016,RAPE,157.0,ATTEMPTED,BRONX,41.0,RESIDENCE - APT. HOUSE
5925164,618315468,04/08/2017,00:00:00,04/08/2017,01:00:00,04/13/2017,RAPE,153.0,COMPLETED,BROOKLYN,68.0,RESIDENCE - APT. HOUSE
1514846,140816840,09/25/2010,00:00:00,NaN,NaN,11/24/2012,RAPE,157.0,COMPLETED,BRONX,43.0,RESIDENCE - APT. HOUSE
5185923,388889149,07/18/2016,00:00:00,09/22/2016,00:00:00,10/25/2016,RAPE,155.0,COMPLETED,BRONX,41.0,RESIDENCE-HOUSE
698723,163444759,07/01/2007,00:00:00,07/01/2010,00:00:00,07/22/2014,RAPE,157.0,COMPLETED,MANHATTAN,30.0,RESIDENCE - APT. HOUSE
1590540,706051582,09/05/2010,00:00:00,03/14/2011,23:59:00,09/26/2012,RAPE,157.0,COMPLETED,BRONX,47.0,RESIDENCE - APT. HOUSE
1221138,722597337,07/05/2013,00:00:00,07/05/2013,03:00:00,07/05/2013,RAPE,157.0,COMPLETED,BRONX,42.0,RESIDENCE - APT. HOUSE
5378844,256731795,06/05/2016,00:00:00,06/05/2016,00:15:00,06/05/2016,RAPE,157.0,COMPLETED,BROOKLYN,83.0,RESIDENCE - APT. HOUSE
1515094,571238795,09/25/2010,00:00:00,NaN,NaN,11/24/2012,RAPE,157.0,COMPLETED,BRONX,43.0,RESIDENCE - APT. HOUSE
540553,212375018,11/09/2014,00:00:00,11/09/2014,23:59:00,11/09/2014,RAPE,157.0,COMPLETED,MANHATTAN,25.0,RESIDENCE - APT. HOUSE
540773,889296110,11/08/2014,00:00:00,11/08/2014,00:20:00,11/09/2014,RAPE,159.0,ATTEMPTED,QUEENS,105.0,HOSPITAL
1216093,692749396,01/01/2005,00:00:00,06/26/2013,21:00:00,07/09/2013,RAPE,157.0,COMPLETED,QUEENS,113.0,RESIDENCE-HOUSE
2687837,551266171,07/28/2010,00:00:00,07/28/2010,01:00:00,07/28/2010,RAPE,157.0,COMPLETED,BRONX,44.0,RESIDENCE - APT. HOUSE
318699,764006800,12/24/2014,00:00:00,12/24/2014,00:01:00,05/13/2015,RAPE,155.0,COMPLETED,BROOKLYN,62.0,RESIDENCE - APT. HOUSE
318149,407487876,05/13/2015,00:00:00,05/13/2015,07:00:00,05/13/2015,RAPE,157.0,COMPLETED,MANHATTAN,28.0,RESIDENCE - PUBLIC HOUSING
5193767,959348686,10/19/2016,00:00:00,10/19/2016,01:00:00,10/19/2016,RAPE,157.0,COMPLETED,BROOKLYN,66.0,RESIDENCE - APT. HOUSE
4611185,100834149,11/26/2006,00:00:00,11/26/2006,02:00:00,11/26/2006,RAPE,157.0,COMPLETED,QUEENS,115.0,RESIDENCE - APT. HOUSE
542178,819080632,10/25/2014,00:00:00,10/25/2014,11:00:00,11/08/2014,RAPE,157.0,COMPLETED,MANHATTAN,1.0,RESIDENCE - APT. HOUSE
1205883,815932924,07/05/2013,00:00:00,NaN,NaN,07/16/2013,RAPE,157.0,COMPLETED,BROOKLYN,75.0,RESIDENCE - PUBLIC HOUSING
5373130,531119820,06/09/2016,00:00:00,06/09/2016,00:02:00,06/09/2016,RAPE,153.0,COMPLETED,BROOKLYN,70.0,RESIDENCE - APT. HOUSE
314128,270413342,04/18/2015,00:00:00,04/18/2015,23:59:00,05/16/2015,RAPE,157.0,COMPLETED,QUEENS,109.0,RESIDENCE - PUBLIC HOUSING
4901998,558243536,05/17/2006,00:00:00,NaN,NaN,05/18/2006,RAPE,157.0,COMPLETED,BROOKLYN,75.0,RESIDENCE - APT. HOUSE
2904216,665963628,02/27/2010,00:00:00,02/27/2010,14:20:00,02/28/2010,RAPE,153.0,COMPLETED,QUEENS,108.0,RESIDENCE - APT. HOUSE
4201811,825823999,08/31/2007,00:00:00,09/02/2007,17:15:00,09/02/2007,RAPE,155.0,COMPLETED,QUEENS,107.0,RESIDENCE-HOUSE
5369513,651715711,06/12/2010,00:00:00,06/12/2014,00:00:00,06/12/2016,RAPE,157.0,COMPLETED,BRONX,41.0,RESIDENCE - APT. HOUSE
5925322,379292035,04/13/2013,00:00:00,04/13/2013,00:00:00,04/13/2017,RAPE,157.0,COMPLETED,BROOKLYN,71.0,RESIDENCE-HOUSE
692326,267711218,07/26/2014,00:00:00,07/26/2014,03:00:00,07/26/2014,RAPE,157.0,COMPLETED,BROOKLYN,75.0,RESIDENCE - PUBLIC HOUSING
5812056,253984610,02/01/2017,00:00:00,07/06/2017,23:59:00,07/08/2017,RAPE,155.0,COMPLETED,BRONX,43.0,RESIDENCE - APT. HOUSE

In [32]:
df_rape.sort_values(by='CMPLNT_TO_TM', ascending=False)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,OFNS_DESC,PD_CD,CRM_ATPT_CPTD_CD,BORO_NM,ADDR_PCT_CD,PREM_TYP_DESC
3194609,271591557,03/21/2000,00:01:00,03/28/2000,24:00:00,08/02/2009,RAPE,157.0,COMPLETED,MANHATTAN,26.0,RESIDENCE - APT. HOUSE
3780568,228835328,05/01/2008,19:00:00,05/31/2008,24:00:00,06/17/2008,RAPE,157.0,COMPLETED,BRONX,48.0,RESIDENCE-HOUSE
3365325,435656502,02/23/2008,23:20:00,02/23/2008,24:00:00,04/05/2009,RAPE,157.0,COMPLETED,MANHATTAN,19.0,RESIDENCE - APT. HOUSE
3475521,236062851,06/20/2008,00:01:00,06/20/2008,24:00:00,01/14/2009,RAPE,153.0,COMPLETED,QUEENS,101.0,RESIDENCE - APT. HOUSE
4313564,570578651,07/01/2006,10:00:00,04/01/2007,24:00:00,06/21/2007,RAPE,153.0,COMPLETED,STATEN ISLAND,122.0,RESIDENCE-HOUSE
4121608,765672998,05/07/2007,00:01:00,10/20/2007,24:00:00,10/23/2007,RAPE,153.0,COMPLETED,BROOKLYN,66.0,RESIDENCE-HOUSE
3364162,104869755,01/01/2003,00:01:00,12/31/2004,24:00:00,04/06/2009,RAPE,157.0,COMPLETED,BROOKLYN,67.0,RESIDENCE-HOUSE
4121627,342073023,12/07/2002,00:01:00,12/07/2002,24:00:00,10/23/2007,RAPE,153.0,COMPLETED,BRONX,46.0,RESIDENCE - APT. HOUSE
3680201,984301010,02/15/2008,23:00:00,07/14/2008,24:00:00,08/22/2008,RAPE,155.0,COMPLETED,BROOKLYN,73.0,RESIDENCE - APT. HOUSE
3747753,756854942,05/03/2008,08:00:00,05/10/2008,24:00:00,07/09/2008,RAPE,153.0,COMPLETED,BRONX,44.0,RESIDENCE - APT. HOUSE
3925434,605287473,01/14/2008,19:30:00,01/14/2008,24:00:00,03/10/2008,RAPE,157.0,COMPLETED,BROOKLYN,70.0,RESIDENCE - APT. HOUSE
3560413,963003913,01/01/2000,00:01:00,11/11/2000,24:00:00,11/11/2008,RAPE,155.0,COMPLETED,QUEENS,105.0,RESIDENCE - APT. HOUSE
3924004,575378260,02/15/2005,00:01:00,04/15/2005,24:00:00,03/11/2008,RAPE,155.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE-HOUSE
3497839,409831071,10/11/2008,22:00:00,10/11/2008,24:00:00,12/28/2008,RAPE,157.0,COMPLETED,BRONX,45.0,RESIDENCE - APT. HOUSE
3606780,328582306,06/25/2008,11:00:00,09/06/2008,24:00:00,10/10/2008,RAPE,153.0,COMPLETED,MANHATTAN,24.0,RESIDENCE - APT. HOUSE
3560412,686758028,01/01/2000,00:01:00,01/01/2000,24:00:00,11/11/2008,RAPE,155.0,COMPLETED,QUEENS,105.0,RESIDENCE - APT. HOUSE
3777352,471349010,02/01/2008,23:45:00,05/30/2008,24:00:00,06/19/2008,RAPE,157.0,COMPLETED,QUEENS,113.0,RESIDENCE - APT. HOUSE
3972010,967821761,12/21/2007,00:01:00,01/15/2008,24:00:00,02/05/2008,RAPE,157.0,COMPLETED,BROOKLYN,67.0,RESIDENCE - APT. HOUSE
3184071,226466939,06/01/2009,00:01:00,08/06/2009,24:00:00,08/09/2009,RAPE,155.0,COMPLETED,BROOKLYN,83.0,RESIDENCE - APT. HOUSE
3514979,413720977,09/19/2008,00:01:00,12/10/2008,24:00:00,12/14/2008,RAPE,157.0,COMPLETED,MANHATTAN,32.0,RESIDENCE - APT. HOUSE
4175559,539326206,08/25/2007,20:00:00,08/31/2007,24:00:00,09/19/2007,RAPE,153.0,COMPLETED,QUEENS,115.0,RESIDENCE - APT. HOUSE
4135731,994087920,01/01/1994,00:01:00,12/31/1997,24:00:00,10/14/2007,RAPE,157.0,COMPLETED,QUEENS,106.0,RESIDENCE-HOUSE
3981953,372942108,06/01/2006,18:00:00,09/01/2006,24:00:00,01/29/2008,RAPE,155.0,COMPLETED,BRONX,46.0,RESIDENCE - APT. HOUSE
3584267,869745492,01/26/2007,16:00:00,01/26/2008,24:00:00,10/25/2008,RAPE,157.0,COMPLETED,BRONX,40.0,RESIDENCE - PUBLIC HOUSING
3253528,681404145,02/15/2009,00:05:00,04/30/2009,24:00:00,05/12/2009,RAPE,153.0,COMPLETED,BRONX,42.0,RESIDENCE - PUBLIC HOUSING
3601184,357409136,01/01/2007,24:00:00,10/13/2008,24:00:00,10/14/2008,RAPE,157.0,COMPLETED,MANHATTAN,34.0,RESIDENCE - APT. HOUSE
3170546,772252132,06/01/2008,00:01:00,09/05/2008,24:00:00,08/18/2009,RAPE,157.0,COMPLETED,MANHATTAN,23.0,RESIDENCE - APT. HOUSE
3887411,375676496,06/01/2003,15:00:00,06/30/2004,24:00:00,04/05/2008,RAPE,157.0,COMPLETED,BRONX,44.0,RESIDENCE - APT. HOUSE
3532865,351445848,11/30/2008,23:00:00,11/30/2008,24:00:00,12/01/2008,RAPE,157.0,COMPLETED,BRONX,49.0,ABANDONED BUILDING
3533220,282390642,04/28/2008,07:00:00,09/24/2008,24:00:00,12/01/2008,RAPE,153.0,COMPLETED,BROOKLYN,73.0,RESIDENCE - APT. HOUSE
...,...,...,...,...,...,...,...,...,...,...,...,...
5985259,271216562,02/21/2017,15:30:00,NaN,NaN,02/22/2017,RAPE,157.0,COMPLETED,MANHATTAN,18.0,STREET
5986509,406701586,02/19/2017,08:00:00,NaN,NaN,02/21/2017,RAPE,159.0,COMPLETED,QUEENS,103.0,RESIDENCE - APT. HOUSE
5986593,864625264,02/16/2017,13:00:00,NaN,NaN,02/21/2017,RAPE,157.0,COMPLETED,BRONX,42.0,RESIDENCE - APT. HOUSE
5987867,686605026,12/30/2016,05:30:00,NaN,NaN,02/20/2017,RAPE,157.0,COMPLETED,BROOKLYN,77.0,RESIDENCE-HOUSE
5988470,103530835,02/19/2017,04:40:00,NaN,NaN,02/19/2017,RAPE,159.0,ATTEMPTED,MANHATTAN,13.0,RESIDENCE - APT. HOUSE
5988623,939899738,02/19/2017,01:10:00,NaN,NaN,02/19/2017,RAPE,159.0,ATTEMPTED,BRONX,43.0,STREET
5989725,133266438,02/18/2017,01:30:00,NaN,NaN,02/18/2017,RAPE,157.0,COMPLETED,MANHATTAN,13.0,RESIDENCE - APT. HOUSE
5992591,158991443,09/01/2016,00:01:00,NaN,NaN,02/16/2017,RAPE,157.0,COMPLETED,QUEENS,108.0,RESIDENCE - APT. HOUSE
6000607,816224620,02/08/2017,16:00:00,NaN,NaN,02/08/2017,RAPE,157.0,COMPLETED,STATEN ISLAND,121.0,RESIDENCE - APT. HOUSE
6001460,943681079,02/04/2017,17:45:00,NaN,NaN,02/08/2017,RAPE,159.0,ATTEMPTED,BROOKLYN,73.0,HOTEL/MOTEL
6002208,556276576,02/07/2017,12:00:00,NaN,NaN,02/07/2017,RAPE,157.0,COMPLETED,BRONX,41.0,RESIDENCE - APT. HOUSE
6002665,824731362,02/06/2017,07:00:00,NaN,NaN,02/07/2017,RAPE,157.0,COMPLETED,MANHATTAN,22.0,PARK/PLAYGROUND
6010192,454899457,01/28/2017,02:00:00,NaN,NaN,02/01/2017,RAPE,157.0,COMPLETED,MANHATTAN,1.0,RESIDENCE - APT. HOUSE
6014993,482125095,01/26/2017,11:30:00,NaN,NaN,01/28/2017,RAPE,157.0,COMPLETED,BROOKLYN,68.0,RESIDENCE - APT. HOUSE
6017877,111079578,05/01/2016,12:00:00,NaN,NaN,01/26/2017,RAPE,153.0,COMPLETED,MANHATTAN,10.0,RESIDENCE - PUBLIC HOUSING
6020384,616047446,01/17/2017,08:00:00,NaN,NaN,01/24/2017,RAPE,157.0,COMPLETED,MANHATTAN,7.0,RESIDENCE - PUBLIC HOUSING
6020532,214593954,06/15/2016,21:00:00,NaN,NaN,01/24/2017,RAPE,157.0,COMPLETED,BROOKLYN,75.0,RESIDENCE - APT. HOUSE
6024561,312161086,01/20/2017,18:00:00,NaN,NaN,01/20/2017,RAPE,153.0,COMPLETED,BRONX,47.0,RESIDENCE - APT. HOUSE
6026309,290195919,01/19/2017,11:10:00,NaN,NaN,01/19/2017,RAPE,157.0,COMPLETED,BROOKLYN,69.0,RESIDENCE - APT. HOUSE
6030380,463333341,01/16/2017,10:00:00,NaN,NaN,01/16/2017,RAPE,159.0,COMPLETED,BROOKLYN,73.0,RESIDENCE - APT. HOUSE
6033078,328625482,01/10/2017,02:00:00,NaN,NaN,01/14/2017,RAPE,157.0,COMPLETED,QUEENS,110.0,RESIDENCE - APT. HOUSE
6033649,434992579,01/13/2017,13:00:00,NaN,NaN,01/13/2017,RAPE,157.0,COMPLETED,BRONX,43.0,RESIDENCE-HOUSE
6034122,412823496,01/12/2017,21:00:00,NaN,NaN,01/13/2017,RAPE,157.0,COMPLETED,BROOKLYN,70.0,RESIDENCE - APT. HOUSE
6037243,677605048,09/12/2016,19:00:00,NaN,NaN,01/11/2017,RAPE,159.0,ATTEMPTED,QUEENS,114.0,RESIDENCE - PUBLIC HOUSING
6038416,597920059,12/19/2016,00:30:00,NaN,NaN,01/10/2017,RAPE,157.0,COMPLETED,MANHATTAN,1.0,HOTEL/MOTEL
6039315,261112645,01/06/2017,13:00:00,NaN,NaN,01/09/2017,RAPE,157.0,COMPLETED,MANHATTAN,23.0,RESIDENCE - APT. HOUSE
6040425,926840989,01/07/2017,21:00:00,NaN,NaN,01/07/2017,RAPE,157.0,COMPLETED,BRONX,44.0,BRIDGE
6042022,316742108,01/06/2017,00:15:00,NaN,NaN,01/06/2017,RAPE,157.0,COMPLETED,BRONX,50.0,RESIDENCE - APT. HOUSE
6042481,771559023,01/06/2016,17:30:00,NaN,NaN,01/06/2017,RAPE,157.0,COMPLETED,MANHATTAN,14.0,CHURCH
6046089,485703034,01/02/2017,19:30:00,NaN,NaN,01/03/2017,RAPE,157.0,COMPLETED,MANHATTAN,32.0,RESIDENCE - APT. HOUSE

In [ ]:
# Clean up time issues: 24:00:00 is not a real time

In [33]:
# Get rid of troublesome 24:00:00 values in 'From Time'
df_rape.loc[df_rape['CMPLNT_FR_TM'] == '24:00:00', 'CMPLNT_FR_TM'] = '23:59:59'

In [34]:
# Get rid of troublesome 24:00:00 values in 'To Time'
df_rape.loc[df_rape['CMPLNT_TO_TM'] == '24:00:00', 'CMPLNT_TO_TM'] = '23:59:59'

In [36]:
# Check Cells

df_rape.sort_values(by='CMPLNT_FR_TM', ascending=False)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,OFNS_DESC,PD_CD,CRM_ATPT_CPTD_CD,BORO_NM,ADDR_PCT_CD,PREM_TYP_DESC
3725023,413481078,06/25/2005,23:59:59,NaN,NaN,07/24/2008,RAPE,157.0,COMPLETED,BRONX,49.0,RESIDENCE-HOUSE
3841346,635227790,08/01/2006,23:59:59,09/30/2006,23:59:59,05/07/2008,RAPE,157.0,COMPLETED,STATEN ISLAND,123.0,RESIDENCE-HOUSE
3601184,357409136,01/01/2007,23:59:59,10/13/2008,23:59:59,10/14/2008,RAPE,157.0,COMPLETED,MANHATTAN,34.0,RESIDENCE - APT. HOUSE
3179713,678406708,04/01/2004,23:59:59,06/01/2005,23:59:00,08/12/2009,RAPE,157.0,COMPLETED,QUEENS,113.0,RESIDENCE-HOUSE
3379603,282308644,01/01/2004,23:59:59,12/31/2004,23:59:00,03/26/2009,RAPE,157.0,COMPLETED,BROOKLYN,67.0,RESIDENCE-HOUSE
4100307,920549674,08/01/2000,23:59:59,NaN,NaN,11/06/2007,RAPE,157.0,COMPLETED,BROOKLYN,67.0,RESIDENCE-HOUSE
3372363,486159316,03/28/2009,23:59:59,NaN,NaN,03/31/2009,RAPE,153.0,COMPLETED,BRONX,43.0,RESIDENCE - APT. HOUSE
3894448,268184195,03/30/2008,23:59:59,NaN,NaN,03/31/2008,RAPE,157.0,COMPLETED,MANHATTAN,34.0,RESIDENCE - PUBLIC HOUSING
3838102,937145860,10/12/2007,23:59:59,NaN,NaN,05/09/2008,RAPE,157.0,COMPLETED,MANHATTAN,6.0,RESIDENCE - APT. HOUSE
3639701,550075977,07/27/2006,23:59:59,09/01/2006,00:01:00,09/18/2008,RAPE,157.0,COMPLETED,MANHATTAN,34.0,RESIDENCE - APT. HOUSE
3439084,763217678,09/01/2008,23:59:59,01/12/2009,23:59:59,02/11/2009,RAPE,153.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE-HOUSE
3448223,742908077,05/01/2008,23:59:59,01/19/2009,23:59:00,02/04/2009,RAPE,157.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE - APT. HOUSE
4011256,266934295,10/31/2007,23:59:59,NaN,NaN,01/09/2008,RAPE,157.0,COMPLETED,BROOKLYN,70.0,RESIDENCE - APT. HOUSE
3441876,965083518,11/01/2008,23:59:59,11/15/2008,23:59:59,02/09/2009,RAPE,157.0,COMPLETED,QUEENS,105.0,RESIDENCE - APT. HOUSE
4153011,833029701,08/29/2007,23:59:59,NaN,NaN,10/03/2007,RAPE,157.0,COMPLETED,BRONX,47.0,RESIDENCE - PUBLIC HOUSING
3466499,829061498,06/01/2002,23:59:59,01/06/2009,15:35:00,01/21/2009,RAPE,157.0,COMPLETED,STATEN ISLAND,122.0,RESIDENCE-HOUSE
4018704,150676051,02/01/2007,23:59:59,NaN,NaN,01/04/2008,RAPE,155.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE-HOUSE
3659304,674449658,11/28/2007,23:59:59,NaN,NaN,09/05/2008,RAPE,153.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE - APT. HOUSE
3764810,495193568,06/01/2007,23:59:59,06/12/2008,23:59:00,06/27/2008,RAPE,157.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE - APT. HOUSE
1518351,727158082,09/27/2012,23:59:00,09/28/2012,06:00:00,11/21/2012,RAPE,157.0,COMPLETED,BROOKLYN,94.0,RESIDENCE-HOUSE
3530288,388506052,10/31/2008,23:59:00,11/01/2008,01:30:00,12/03/2008,RAPE,155.0,COMPLETED,QUEENS,103.0,RESIDENCE-HOUSE
1368602,254875686,08/01/2009,23:59:00,10/01/2009,23:59:00,03/19/2013,RAPE,155.0,COMPLETED,BROOKLYN,67.0,RESIDENCE - APT. HOUSE
5825424,193841184,01/01/2007,23:59:00,01/01/2009,23:59:00,06/28/2017,RAPE,157.0,COMPLETED,BROOKLYN,75.0,RESIDENCE - APT. HOUSE
508653,659693240,02/22/2011,23:59:00,12/01/2014,23:59:00,12/05/2014,RAPE,157.0,COMPLETED,BROOKLYN,63.0,STREET
5653522,764722415,10/20/2015,23:59:00,03/01/2017,00:01:00,11/02/2017,RAPE,153.0,COMPLETED,BRONX,46.0,RESIDENCE - APT. HOUSE
4205889,209087992,08/29/2007,23:59:00,NaN,NaN,08/30/2007,RAPE,157.0,COMPLETED,BROOKLYN,77.0,RESIDENCE - APT. HOUSE
1338629,147330787,04/10/2013,23:59:00,04/11/2013,00:30:00,04/11/2013,RAPE,157.0,COMPLETED,BROOKLYN,79.0,RESIDENCE - APT. HOUSE
3369479,422182987,12/28/2008,23:59:00,12/29/2008,10:00:00,04/02/2009,RAPE,157.0,COMPLETED,MANHATTAN,17.0,HOTEL/MOTEL
4205888,133471489,08/29/2007,23:59:00,08/30/2007,01:45:00,08/30/2007,RAPE,157.0,COMPLETED,BROOKLYN,77.0,RESIDENCE - APT. HOUSE
1368599,407442373,07/01/2010,23:59:00,06/01/2011,23:59:00,03/19/2013,RAPE,155.0,COMPLETED,BROOKLYN,67.0,RESIDENCE - APT. HOUSE
...,...,...,...,...,...,...,...,...,...,...,...,...
5641467,487476240,11/11/2017,00:00:00,11/11/2017,06:30:00,11/11/2017,RAPE,157.0,COMPLETED,QUEENS,114.0,RESIDENCE - APT. HOUSE
98928,494931087,04/15/2015,00:00:00,05/15/2015,00:00:00,10/16/2015,RAPE,155.0,COMPLETED,BRONX,42.0,RESIDENCE - PUBLIC HOUSING
5184658,597428482,01/01/2006,00:00:00,12/31/2007,23:59:00,10/26/2016,RAPE,157.0,ATTEMPTED,BRONX,41.0,RESIDENCE - APT. HOUSE
5925164,618315468,04/08/2017,00:00:00,04/08/2017,01:00:00,04/13/2017,RAPE,153.0,COMPLETED,BROOKLYN,68.0,RESIDENCE - APT. HOUSE
1514846,140816840,09/25/2010,00:00:00,NaN,NaN,11/24/2012,RAPE,157.0,COMPLETED,BRONX,43.0,RESIDENCE - APT. HOUSE
5185923,388889149,07/18/2016,00:00:00,09/22/2016,00:00:00,10/25/2016,RAPE,155.0,COMPLETED,BRONX,41.0,RESIDENCE-HOUSE
698723,163444759,07/01/2007,00:00:00,07/01/2010,00:00:00,07/22/2014,RAPE,157.0,COMPLETED,MANHATTAN,30.0,RESIDENCE - APT. HOUSE
1590540,706051582,09/05/2010,00:00:00,03/14/2011,23:59:00,09/26/2012,RAPE,157.0,COMPLETED,BRONX,47.0,RESIDENCE - APT. HOUSE
1221138,722597337,07/05/2013,00:00:00,07/05/2013,03:00:00,07/05/2013,RAPE,157.0,COMPLETED,BRONX,42.0,RESIDENCE - APT. HOUSE
5378844,256731795,06/05/2016,00:00:00,06/05/2016,00:15:00,06/05/2016,RAPE,157.0,COMPLETED,BROOKLYN,83.0,RESIDENCE - APT. HOUSE
1515094,571238795,09/25/2010,00:00:00,NaN,NaN,11/24/2012,RAPE,157.0,COMPLETED,BRONX,43.0,RESIDENCE - APT. HOUSE
540553,212375018,11/09/2014,00:00:00,11/09/2014,23:59:00,11/09/2014,RAPE,157.0,COMPLETED,MANHATTAN,25.0,RESIDENCE - APT. HOUSE
540773,889296110,11/08/2014,00:00:00,11/08/2014,00:20:00,11/09/2014,RAPE,159.0,ATTEMPTED,QUEENS,105.0,HOSPITAL
1216093,692749396,01/01/2005,00:00:00,06/26/2013,21:00:00,07/09/2013,RAPE,157.0,COMPLETED,QUEENS,113.0,RESIDENCE-HOUSE
2687837,551266171,07/28/2010,00:00:00,07/28/2010,01:00:00,07/28/2010,RAPE,157.0,COMPLETED,BRONX,44.0,RESIDENCE - APT. HOUSE
318699,764006800,12/24/2014,00:00:00,12/24/2014,00:01:00,05/13/2015,RAPE,155.0,COMPLETED,BROOKLYN,62.0,RESIDENCE - APT. HOUSE
318149,407487876,05/13/2015,00:00:00,05/13/2015,07:00:00,05/13/2015,RAPE,157.0,COMPLETED,MANHATTAN,28.0,RESIDENCE - PUBLIC HOUSING
5193767,959348686,10/19/2016,00:00:00,10/19/2016,01:00:00,10/19/2016,RAPE,157.0,COMPLETED,BROOKLYN,66.0,RESIDENCE - APT. HOUSE
4611185,100834149,11/26/2006,00:00:00,11/26/2006,02:00:00,11/26/2006,RAPE,157.0,COMPLETED,QUEENS,115.0,RESIDENCE - APT. HOUSE
542178,819080632,10/25/2014,00:00:00,10/25/2014,11:00:00,11/08/2014,RAPE,157.0,COMPLETED,MANHATTAN,1.0,RESIDENCE - APT. HOUSE
1205883,815932924,07/05/2013,00:00:00,NaN,NaN,07/16/2013,RAPE,157.0,COMPLETED,BROOKLYN,75.0,RESIDENCE - PUBLIC HOUSING
5373130,531119820,06/09/2016,00:00:00,06/09/2016,00:02:00,06/09/2016,RAPE,153.0,COMPLETED,BROOKLYN,70.0,RESIDENCE - APT. HOUSE
314128,270413342,04/18/2015,00:00:00,04/18/2015,23:59:00,05/16/2015,RAPE,157.0,COMPLETED,QUEENS,109.0,RESIDENCE - PUBLIC HOUSING
4901998,558243536,05/17/2006,00:00:00,NaN,NaN,05/18/2006,RAPE,157.0,COMPLETED,BROOKLYN,75.0,RESIDENCE - APT. HOUSE
2904216,665963628,02/27/2010,00:00:00,02/27/2010,14:20:00,02/28/2010,RAPE,153.0,COMPLETED,QUEENS,108.0,RESIDENCE - APT. HOUSE
4201811,825823999,08/31/2007,00:00:00,09/02/2007,17:15:00,09/02/2007,RAPE,155.0,COMPLETED,QUEENS,107.0,RESIDENCE-HOUSE
5369513,651715711,06/12/2010,00:00:00,06/12/2014,00:00:00,06/12/2016,RAPE,157.0,COMPLETED,BRONX,41.0,RESIDENCE - APT. HOUSE
5925322,379292035,04/13/2013,00:00:00,04/13/2013,00:00:00,04/13/2017,RAPE,157.0,COMPLETED,BROOKLYN,71.0,RESIDENCE-HOUSE
692326,267711218,07/26/2014,00:00:00,07/26/2014,03:00:00,07/26/2014,RAPE,157.0,COMPLETED,BROOKLYN,75.0,RESIDENCE - PUBLIC HOUSING
5812056,253984610,02/01/2017,00:00:00,07/06/2017,23:59:00,07/08/2017,RAPE,155.0,COMPLETED,BRONX,43.0,RESIDENCE - APT. HOUSE

In [37]:
# Check cells
df_rape.sort_values(by='CMPLNT_TO_TM', ascending=False)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,OFNS_DESC,PD_CD,CRM_ATPT_CPTD_CD,BORO_NM,ADDR_PCT_CD,PREM_TYP_DESC
3194609,271591557,03/21/2000,00:01:00,03/28/2000,23:59:59,08/02/2009,RAPE,157.0,COMPLETED,MANHATTAN,26.0,RESIDENCE - APT. HOUSE
3780568,228835328,05/01/2008,19:00:00,05/31/2008,23:59:59,06/17/2008,RAPE,157.0,COMPLETED,BRONX,48.0,RESIDENCE-HOUSE
3365325,435656502,02/23/2008,23:20:00,02/23/2008,23:59:59,04/05/2009,RAPE,157.0,COMPLETED,MANHATTAN,19.0,RESIDENCE - APT. HOUSE
3475521,236062851,06/20/2008,00:01:00,06/20/2008,23:59:59,01/14/2009,RAPE,153.0,COMPLETED,QUEENS,101.0,RESIDENCE - APT. HOUSE
4313564,570578651,07/01/2006,10:00:00,04/01/2007,23:59:59,06/21/2007,RAPE,153.0,COMPLETED,STATEN ISLAND,122.0,RESIDENCE-HOUSE
4121608,765672998,05/07/2007,00:01:00,10/20/2007,23:59:59,10/23/2007,RAPE,153.0,COMPLETED,BROOKLYN,66.0,RESIDENCE-HOUSE
3364162,104869755,01/01/2003,00:01:00,12/31/2004,23:59:59,04/06/2009,RAPE,157.0,COMPLETED,BROOKLYN,67.0,RESIDENCE-HOUSE
4121627,342073023,12/07/2002,00:01:00,12/07/2002,23:59:59,10/23/2007,RAPE,153.0,COMPLETED,BRONX,46.0,RESIDENCE - APT. HOUSE
3680201,984301010,02/15/2008,23:00:00,07/14/2008,23:59:59,08/22/2008,RAPE,155.0,COMPLETED,BROOKLYN,73.0,RESIDENCE - APT. HOUSE
3747753,756854942,05/03/2008,08:00:00,05/10/2008,23:59:59,07/09/2008,RAPE,153.0,COMPLETED,BRONX,44.0,RESIDENCE - APT. HOUSE
3925434,605287473,01/14/2008,19:30:00,01/14/2008,23:59:59,03/10/2008,RAPE,157.0,COMPLETED,BROOKLYN,70.0,RESIDENCE - APT. HOUSE
3560413,963003913,01/01/2000,00:01:00,11/11/2000,23:59:59,11/11/2008,RAPE,155.0,COMPLETED,QUEENS,105.0,RESIDENCE - APT. HOUSE
3924004,575378260,02/15/2005,00:01:00,04/15/2005,23:59:59,03/11/2008,RAPE,155.0,COMPLETED,STATEN ISLAND,120.0,RESIDENCE-HOUSE
3497839,409831071,10/11/2008,22:00:00,10/11/2008,23:59:59,12/28/2008,RAPE,157.0,COMPLETED,BRONX,45.0,RESIDENCE - APT. HOUSE
3606780,328582306,06/25/2008,11:00:00,09/06/2008,23:59:59,10/10/2008,RAPE,153.0,COMPLETED,MANHATTAN,24.0,RESIDENCE - APT. HOUSE
3560412,686758028,01/01/2000,00:01:00,01/01/2000,23:59:59,11/11/2008,RAPE,155.0,COMPLETED,QUEENS,105.0,RESIDENCE - APT. HOUSE
3777352,471349010,02/01/2008,23:45:00,05/30/2008,23:59:59,06/19/2008,RAPE,157.0,COMPLETED,QUEENS,113.0,RESIDENCE - APT. HOUSE
3972010,967821761,12/21/2007,00:01:00,01/15/2008,23:59:59,02/05/2008,RAPE,157.0,COMPLETED,BROOKLYN,67.0,RESIDENCE - APT. HOUSE
3184071,226466939,06/01/2009,00:01:00,08/06/2009,23:59:59,08/09/2009,RAPE,155.0,COMPLETED,BROOKLYN,83.0,RESIDENCE - APT. HOUSE
3514979,413720977,09/19/2008,00:01:00,12/10/2008,23:59:59,12/14/2008,RAPE,157.0,COMPLETED,MANHATTAN,32.0,RESIDENCE - APT. HOUSE
4175559,539326206,08/25/2007,20:00:00,08/31/2007,23:59:59,09/19/2007,RAPE,153.0,COMPLETED,QUEENS,115.0,RESIDENCE - APT. HOUSE
4135731,994087920,01/01/1994,00:01:00,12/31/1997,23:59:59,10/14/2007,RAPE,157.0,COMPLETED,QUEENS,106.0,RESIDENCE-HOUSE
3981953,372942108,06/01/2006,18:00:00,09/01/2006,23:59:59,01/29/2008,RAPE,155.0,COMPLETED,BRONX,46.0,RESIDENCE - APT. HOUSE
3584267,869745492,01/26/2007,16:00:00,01/26/2008,23:59:59,10/25/2008,RAPE,157.0,COMPLETED,BRONX,40.0,RESIDENCE - PUBLIC HOUSING
3253528,681404145,02/15/2009,00:05:00,04/30/2009,23:59:59,05/12/2009,RAPE,153.0,COMPLETED,BRONX,42.0,RESIDENCE - PUBLIC HOUSING
3601184,357409136,01/01/2007,23:59:59,10/13/2008,23:59:59,10/14/2008,RAPE,157.0,COMPLETED,MANHATTAN,34.0,RESIDENCE - APT. HOUSE
3170546,772252132,06/01/2008,00:01:00,09/05/2008,23:59:59,08/18/2009,RAPE,157.0,COMPLETED,MANHATTAN,23.0,RESIDENCE - APT. HOUSE
3887411,375676496,06/01/2003,15:00:00,06/30/2004,23:59:59,04/05/2008,RAPE,157.0,COMPLETED,BRONX,44.0,RESIDENCE - APT. HOUSE
3532865,351445848,11/30/2008,23:00:00,11/30/2008,23:59:59,12/01/2008,RAPE,157.0,COMPLETED,BRONX,49.0,ABANDONED BUILDING
3533220,282390642,04/28/2008,07:00:00,09/24/2008,23:59:59,12/01/2008,RAPE,153.0,COMPLETED,BROOKLYN,73.0,RESIDENCE - APT. HOUSE
...,...,...,...,...,...,...,...,...,...,...,...,...
5985259,271216562,02/21/2017,15:30:00,NaN,NaN,02/22/2017,RAPE,157.0,COMPLETED,MANHATTAN,18.0,STREET
5986509,406701586,02/19/2017,08:00:00,NaN,NaN,02/21/2017,RAPE,159.0,COMPLETED,QUEENS,103.0,RESIDENCE - APT. HOUSE
5986593,864625264,02/16/2017,13:00:00,NaN,NaN,02/21/2017,RAPE,157.0,COMPLETED,BRONX,42.0,RESIDENCE - APT. HOUSE
5987867,686605026,12/30/2016,05:30:00,NaN,NaN,02/20/2017,RAPE,157.0,COMPLETED,BROOKLYN,77.0,RESIDENCE-HOUSE
5988470,103530835,02/19/2017,04:40:00,NaN,NaN,02/19/2017,RAPE,159.0,ATTEMPTED,MANHATTAN,13.0,RESIDENCE - APT. HOUSE
5988623,939899738,02/19/2017,01:10:00,NaN,NaN,02/19/2017,RAPE,159.0,ATTEMPTED,BRONX,43.0,STREET
5989725,133266438,02/18/2017,01:30:00,NaN,NaN,02/18/2017,RAPE,157.0,COMPLETED,MANHATTAN,13.0,RESIDENCE - APT. HOUSE
5992591,158991443,09/01/2016,00:01:00,NaN,NaN,02/16/2017,RAPE,157.0,COMPLETED,QUEENS,108.0,RESIDENCE - APT. HOUSE
6000607,816224620,02/08/2017,16:00:00,NaN,NaN,02/08/2017,RAPE,157.0,COMPLETED,STATEN ISLAND,121.0,RESIDENCE - APT. HOUSE
6001460,943681079,02/04/2017,17:45:00,NaN,NaN,02/08/2017,RAPE,159.0,ATTEMPTED,BROOKLYN,73.0,HOTEL/MOTEL
6002208,556276576,02/07/2017,12:00:00,NaN,NaN,02/07/2017,RAPE,157.0,COMPLETED,BRONX,41.0,RESIDENCE - APT. HOUSE
6002665,824731362,02/06/2017,07:00:00,NaN,NaN,02/07/2017,RAPE,157.0,COMPLETED,MANHATTAN,22.0,PARK/PLAYGROUND
6010192,454899457,01/28/2017,02:00:00,NaN,NaN,02/01/2017,RAPE,157.0,COMPLETED,MANHATTAN,1.0,RESIDENCE - APT. HOUSE
6014993,482125095,01/26/2017,11:30:00,NaN,NaN,01/28/2017,RAPE,157.0,COMPLETED,BROOKLYN,68.0,RESIDENCE - APT. HOUSE
6017877,111079578,05/01/2016,12:00:00,NaN,NaN,01/26/2017,RAPE,153.0,COMPLETED,MANHATTAN,10.0,RESIDENCE - PUBLIC HOUSING
6020384,616047446,01/17/2017,08:00:00,NaN,NaN,01/24/2017,RAPE,157.0,COMPLETED,MANHATTAN,7.0,RESIDENCE - PUBLIC HOUSING
6020532,214593954,06/15/2016,21:00:00,NaN,NaN,01/24/2017,RAPE,157.0,COMPLETED,BROOKLYN,75.0,RESIDENCE - APT. HOUSE
6024561,312161086,01/20/2017,18:00:00,NaN,NaN,01/20/2017,RAPE,153.0,COMPLETED,BRONX,47.0,RESIDENCE - APT. HOUSE
6026309,290195919,01/19/2017,11:10:00,NaN,NaN,01/19/2017,RAPE,157.0,COMPLETED,BROOKLYN,69.0,RESIDENCE - APT. HOUSE
6030380,463333341,01/16/2017,10:00:00,NaN,NaN,01/16/2017,RAPE,159.0,COMPLETED,BROOKLYN,73.0,RESIDENCE - APT. HOUSE
6033078,328625482,01/10/2017,02:00:00,NaN,NaN,01/14/2017,RAPE,157.0,COMPLETED,QUEENS,110.0,RESIDENCE - APT. HOUSE
6033649,434992579,01/13/2017,13:00:00,NaN,NaN,01/13/2017,RAPE,157.0,COMPLETED,BRONX,43.0,RESIDENCE-HOUSE
6034122,412823496,01/12/2017,21:00:00,NaN,NaN,01/13/2017,RAPE,157.0,COMPLETED,BROOKLYN,70.0,RESIDENCE - APT. HOUSE
6037243,677605048,09/12/2016,19:00:00,NaN,NaN,01/11/2017,RAPE,159.0,ATTEMPTED,QUEENS,114.0,RESIDENCE - PUBLIC HOUSING
6038416,597920059,12/19/2016,00:30:00,NaN,NaN,01/10/2017,RAPE,157.0,COMPLETED,MANHATTAN,1.0,HOTEL/MOTEL
6039315,261112645,01/06/2017,13:00:00,NaN,NaN,01/09/2017,RAPE,157.0,COMPLETED,MANHATTAN,23.0,RESIDENCE - APT. HOUSE
6040425,926840989,01/07/2017,21:00:00,NaN,NaN,01/07/2017,RAPE,157.0,COMPLETED,BRONX,44.0,BRIDGE
6042022,316742108,01/06/2017,00:15:00,NaN,NaN,01/06/2017,RAPE,157.0,COMPLETED,BRONX,50.0,RESIDENCE - APT. HOUSE
6042481,771559023,01/06/2016,17:30:00,NaN,NaN,01/06/2017,RAPE,157.0,COMPLETED,MANHATTAN,14.0,CHURCH
6046089,485703034,01/02/2017,19:30:00,NaN,NaN,01/03/2017,RAPE,157.0,COMPLETED,MANHATTAN,32.0,RESIDENCE - APT. HOUSE

In [39]:
# Get rid of troublesome '1016' date value
format_check = df_rape.CMPLNT_FR_DT.str.extract('^(\d{2})/(\d{2})/(\d{4})')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [40]:
# Check the rest of the years
format_check[2].unique()

array(['2015', '2009', '2012', '2008', '2014', '2006', '2013', '2010',
       '2002', '1993', '2011', '2007', '2003', '2000', '2005', '2004',
       '2001', '1999', '1975', '1996', '1997', '1992', '1998', '1990',
       '1994', '1988', '1995', '1989', '1978', '1991', '2016', '1984',
       '1980', '1986', '1016', '1983', '2017', '1973', '1968', '1967',
       '1976', '1981', '1987', '1977'], dtype=object)

In [44]:
# Year 1016 must be deleted for conversion
# THIS MIGHT BE A REALLY BAD IDEA! 

df_rape['CMPLNT_FR_DT'] = df_rape['CMPLNT_FR_DT'].str.replace('1016','2016')

In [45]:
# Check the rest of the years- 1016 is still there
format_check[2].unique()

array(['2015', '2009', '2012', '2008', '2014', '2006', '2013', '2010',
       '2002', '1993', '2011', '2007', '2003', '2000', '2005', '2004',
       '2001', '1999', '1975', '1996', '1997', '1992', '1998', '1990',
       '1994', '1988', '1995', '1989', '1978', '1991', '2016', '1984',
       '1980', '1986', '1016', '1983', '2017', '1973', '1968', '1967',
       '1976', '1981', '1987', '1977'], dtype=object)

# Creation of datetime column

In [46]:
CMPLNT_datetime_series_FR = df_rape['CMPLNT_FR_DT'] + ' ' + df_rape['CMPLNT_FR_TM']

In [47]:
CMPLNT_datetime_series_TO = df_rape['CMPLNT_TO_DT'] + ' ' + df_rape['CMPLNT_TO_TM']

In [48]:
# Two strings to convers to Timestamp
print(type(CMPLNT_datetime_series_FR[21]), type(CMPLNT_datetime_series_TO[21]))

<class 'str'> <class 'str'>

In [49]:
# New columns in df_rape w/ Timestamp-to-be strings
df_rape['CMPLNT_FR_DATETIME'] = CMPLNT_datetime_series_FR
df_rape['CMPLNT_TO_DATETIME'] = CMPLNT_datetime_series_TO

In [50]:
# Convert to Timestamps
df_rape['CMPLNT_FR_DATETIME'] = pd.to_datetime(df_rape['CMPLNT_FR_DATETIME'], infer_datetime_format=True)
df_rape['CMPLNT_TO_DATETIME'] = pd.to_datetime(df_rape['CMPLNT_TO_DATETIME'], infer_datetime_format=True)

In [51]:
# Testing
type(df_rape['CMPLNT_TO_DATETIME'][21])

pandas._libs.tslib.Timestamp

In [52]:
# Which years the crimes were committed
# Looks like cutting data to 2006 - 2018 is more meaningful
df_rape['CMPLNT_FR_DATETIME'].dt.year.value_counts(ascending = False)

2006    1529
2011    1400
2012    1388
2010    1375
2013    1334
2015    1327
2007    1268
2016    1262
2008    1261
2014    1255
2009    1188
2017    1159
2005     315
2004     116
2003     102
2001      66
2002      63
2000      44
1999      44
1998      30
1997      15
1993      14
1996      12
1994       7
1995       5
1992       4
1991       3
1975       2
1989       2
1984       2
1983       2
1988       2
1990       2
1978       2
1986       2
1981       1
1967       1
1987       1
1980       1
1977       1
1976       1
1973       1
1968       1
Name: CMPLNT_FR_DATETIME, dtype: int64

In [56]:
rapes_2006_or_later = ((df_rape['CMPLNT_FR_DATETIME'].dt.year >= 2006) == True).sum()
print("2006 or later: ", rapes_2006_or_later)

2006 or later 15746

In [57]:
rapes_2005_or_before = ((df_rape['CMPLNT_FR_DATETIME'].dt.year < 2006) == True).sum()
print("2005 or before: ", rapes_2005_or_before)

2005 or before:  864

In [58]:
# Delete 2005 or before
df_rape = df_rape.drop(df_rape[df_rape['CMPLNT_FR_DATETIME'].dt.year < 2006].index)

In [59]:
# Check
rapes_2005_or_before = ((df_rape['CMPLNT_FR_DATETIME'].dt.year < 2006) == True).sum()
print("2005 or before: ", rapes_2005_or_before)

2005 or before:  0

In [60]:
df_rape.isnull().sum()

CMPLNT_NUM               0
CMPLNT_FR_DT             0
CMPLNT_FR_TM             0
CMPLNT_TO_DT          3400
CMPLNT_TO_TM          3397
RPT_DT                   0
OFNS_DESC                0
PD_CD                    0
CRM_ATPT_CPTD_CD         0
BORO_NM                  0
ADDR_PCT_CD              0
PREM_TYP_DESC            0
CMPLNT_FR_DATETIME       0
CMPLNT_TO_DATETIME    3407
dtype: int64

# Prepping for model

In [61]:
# Convert time between RPT_DT and CMPLNT_FR_DATETIME to report to a continuous variable
df_rape.dtypes

CMPLNT_NUM                     int64
CMPLNT_FR_DT                  object
CMPLNT_FR_TM                  object
CMPLNT_TO_DT                  object
CMPLNT_TO_TM                  object
RPT_DT                        object
OFNS_DESC                     object
PD_CD                        float64
CRM_ATPT_CPTD_CD              object
BORO_NM                       object
ADDR_PCT_CD                  float64
PREM_TYP_DESC                 object
CMPLNT_FR_DATETIME    datetime64[ns]
CMPLNT_TO_DATETIME    datetime64[ns]
dtype: object

DONT RUN THIS CELL!
Checking each column

CMPLNT_NUM                     int64- drop
CMPLNT_FR_DT                  object- will eventually drop these
CMPLNT_FR_TM                  object- four rows
CMPLNT_TO_DT                  object- drop
CMPLNT_TO_TM                  object- drop
RPT_DT                        object- change from str to Timestamp
OFNS_DESC                     object- drop, all are 'RAPE'
PD_CD                        float64- GETDUMMIES
CRM_ATPT_CPTD_CD              object- OUTCOME VARIABLE
BORO_NM                       object- GETDUMMIES
ADDR_PCT_CD                  float64- GET DUMMIES, 77 PRECINCTS
PREM_TYP_DESC                 object- Description of Premise... ????
CMPLNT_FR_DATETIME    datetime64[ns]- Will use for feature creation
CMPLNT_TO_DATETIME    datetime64[ns]- Will use for feature creation
dtype: object

In [64]:
type(df_rape['RPT_DT'][21])

str

In [66]:
df_rape['RPT_DT'] = pd.to_datetime(df_rape['RPT_DT'], infer_datetime_format=True)
type(df_rape['RPT_DT'][21])

pandas._libs.tslib.Timestamp

In [69]:
# CMPLNT_NUM - key, no data value
# CMPLNT_FR_DT, CMPLNT_FR_TM, CMPLNT_TO_DT, CMPLNT_TO_TM- all converted to Timestamps
# Drop OFNS_DESC, as they're all the same cat, RAPE

df_rape = df_rape.drop(columns=['CMPLNT_NUM','CMPLNT_FR_DT','CMPLNT_FR_TM','CMPLNT_TO_DT','CMPLNT_TO_TM','OFNS_DESC'])

In [72]:
# Will get_dummies 
df_rape['PD_CD'].value_counts()

157.0    10123
153.0     2131
159.0     1788
155.0     1704
Name: PD_CD, dtype: int64

# Creating dummies for df_model

In [73]:
Precinct_Dummies = pd.get_dummies(df_rape['PD_CD'])

In [74]:
Precinct_Dummies

         153.0  155.0  157.0  159.0
21           0      1      0      0
252          0      0      1      0
821          0      0      1      0
1079         1      0      0      0
1754         0      0      1      0
2086         0      0      1      0
2269         1      0      0      0
2716         0      0      0      1
3199         0      0      1      0
3346         0      1      0      0
4024         0      0      0      1
4281         1      0      0      0
5617         0      0      1      0
5674         0      0      1      0
5686         0      0      1      0
5879         0      0      1      0
5885         0      0      1      0
5991         0      1      0      0
6015         1      0      0      0
6576         0      0      1      0
6634         0      0      1      0
7601         0      0      1      0
7602         0      0      1      0
7853         0      0      1      0
7874         0      1      0      0
8118         0      0      1      0
8565         0      0      1      0
9134         0      0      1      0
10186        1      0      0      0
10201        1      0      0      0
...        ...    ...    ...    ...
6040310      0      0      1      0
6040425      0      0      1      0
6040838      0      0      1      0
6041810      0      0      1      0
6042022      0      0      1      0
6042246      0      0      1      0
6042481      0      0      1      0
6043297      0      0      1      0
6043679      0      0      1      0
6043850      1      0      0      0
6043853      0      0      1      0
6044850      0      0      1      0
6045256      0      0      1      0
6045257      0      0      1      0
6045948      0      0      0      1
6045964      1      0      0      0
6045989      0      0      1      0
6046089      0      0      1      0
6046316      1      0      0      0
6046505      0      1      0      0
6047219      0      0      0      1
6047380      0      0      1      0
6047433      0      1      0      0
6047599      0      1      0      0
6047627      0      0      1      0
6048179      0      0      1      0
6048486      0      0      1      0
6048513      0      0      1      0
6048726      0      0      1      0
6048795      1      0      0      0

[15746 rows x 4 columns]

In [75]:
Borough_Dummies = pd.get_dummies(df_rape['BORO_NM'])

In [76]:
Borough_Dummies

         BRONX  BROOKLYN  MANHATTAN  QUEENS  STATEN ISLAND
21           0         0          0       1              0
252          0         1          0       0              0
821          0         0          0       1              0
1079         0         0          1       0              0
1754         0         0          1       0              0
2086         0         1          0       0              0
2269         0         0          1       0              0
2716         1         0          0       0              0
3199         0         0          0       1              0
3346         0         0          1       0              0
4024         1         0          0       0              0
4281         0         1          0       0              0
5617         0         0          0       1              0
5674         1         0          0       0              0
5686         0         1          0       0              0
5879         0         0          1       0              0
5885         0         1          0       0              0
5991         0         0          1       0              0
6015         0         0          0       1              0
6576         0         0          0       1              0
6634         0         0          0       0              1
7601         0         1          0       0              0
7602         0         1          0       0              0
7853         0         0          1       0              0
7874         0         0          0       1              0
8118         0         1          0       0              0
8565         1         0          0       0              0
9134         0         1          0       0              0
10186        0         0          0       1              0
10201        0         0          0       1              0
...        ...       ...        ...     ...            ...
6040310      0         1          0       0              0
6040425      1         0          0       0              0
6040838      0         1          0       0              0
6041810      0         0          0       1              0
6042022      1         0          0       0              0
6042246      0         1          0       0              0
6042481      0         0          1       0              0
6043297      0         0          1       0              0
6043679      0         1          0       0              0
6043850      1         0          0       0              0
6043853      0         0          1       0              0
6044850      1         0          0       0              0
6045256      0         1          0       0              0
6045257      0         0          1       0              0
6045948      0         1          0       0              0
6045964      0         1          0       0              0
6045989      1         0          0       0              0
6046089      0         0          1       0              0
6046316      0         0          0       1              0
6046505      0         0          0       1              0
6047219      0         1          0       0              0
6047380      1         0          0       0              0
6047433      0         0          0       1              0
6047599      1         0          0       0              0
6047627      1         0          0       0              0
6048179      0         1          0       0              0
6048486      0         0          0       1              0
6048513      0         1          0       0              0
6048726      0         0          1       0              0
6048795      0         0          1       0              0

[15746 rows x 5 columns]

In [77]:
# 77 of these...
df_rape['ADDR_PCT_CD'].value_counts()

75.0     658
47.0     414
115.0    409
43.0     407
73.0     394
67.0     392
120.0    392
44.0     387
46.0     358
103.0    349
110.0    347
83.0     344
40.0     336
32.0     325
105.0    317
42.0     313
52.0     308
114.0    307
113.0    303
79.0     295
48.0     281
70.0     263
25.0     253
102.0    246
23.0     238
77.0     234
81.0     221
34.0     219
30.0     218
49.0     217
        ...
18.0     149
14.0     143
19.0     135
61.0     125
24.0     124
63.0     124
7.0      122
66.0     122
62.0     120
10.0     119
26.0     116
6.0      115
122.0    110
50.0     110
1.0      105
68.0      97
17.0      95
88.0      94
20.0      90
94.0      85
5.0       83
78.0      75
112.0     71
100.0     68
121.0     66
76.0      60
84.0      57
111.0     50
123.0     32
22.0      25
Name: ADDR_PCT_CD, Length: 77, dtype: int64

In [78]:
Precinct_Dummies = pd.get_dummies(df_rape['ADDR_PCT_CD'])

In [79]:
df_rape['PREM_TYP_DESC'].value_counts()

RESIDENCE - APT. HOUSE          8034
RESIDENCE-HOUSE                 2823
RESIDENCE - PUBLIC HOUSING      1709
STREET                          1021
HOTEL/MOTEL                      646
OTHER                            335
PARK/PLAYGROUND                  260
HOSPITAL                         126
BAR/NIGHT CLUB                   123
COMMERCIAL BUILDING              102
PUBLIC SCHOOL                     67
OPEN AREAS (OPEN LOTS)            52
PUBLIC BUILDING                   39
TRANSIT - NYC SUBWAY              38
RESTAURANT/DINER                  37
PARKING LOT/GARAGE (PUBLIC)       31
PARKING LOT/GARAGE (PRIVATE)      28
ABANDONED BUILDING                27
GROCERY/BODEGA                    25
CHURCH                            18
TAXI (YELLOW LICENSED)            15
STORE UNCLASSIFIED                15
SMALL MERCHANT                    12
TAXI (LIVERY LICENSED)            10
FAST FOOD                         10
BEAUTY & NAIL SALON               10
CLOTHING/BOUTIQUE                  9
MARINA/PIER                        9
BRIDGE                             9
SOCIAL CLUB/POLICY                 9
CHAIN STORE                        8
DOCTOR/DENTIST OFFICE              8
HIGHWAY/PARKWAY                    8
PRIVATE/PAROCHIAL SCHOOL           7
DEPARTMENT STORE                   7
DRY CLEANER/LAUNDRY                6
GYM/FITNESS FACILITY               5
FACTORY/WAREHOUSE                  5
CONSTRUCTION SITE                  5
TRANSIT FACILITY (OTHER)           5
BUS (OTHER)                        5
BUS TERMINAL                       4
DRUG STORE                         3
AIRPORT TERMINAL                   3
FOOD SUPERMARKET                   2
CANDY STORE                        2
BUS STOP                           2
BANK                               2
VARIETY STORE                      2
TAXI/LIVERY (UNLICENSED)           2
OTHER HOUSE OF WORSHIP             2
JEWELRY                            1
MOSQUE                             1
CEMETERY                           1
STORAGE FACILITY                   1
Name: PREM_TYP_DESC, dtype: int64

In [84]:
Premise_Dummies = pd.get_dummies(df_rape['PREM_TYP_DESC'])

In [86]:
Premise_Dummies.shape

(15746, 55)

In [91]:
Premise_Dummies.columns

Index(['ABANDONED BUILDING', 'AIRPORT TERMINAL', 'BANK', 'BAR/NIGHT CLUB',
       'BEAUTY & NAIL SALON', 'BRIDGE', 'BUS (OTHER)', 'BUS STOP',
       'BUS TERMINAL', 'CANDY STORE', 'CEMETERY', 'CHAIN STORE', 'CHURCH',
       'CLOTHING/BOUTIQUE', 'COMMERCIAL BUILDING', 'CONSTRUCTION SITE',
       'DEPARTMENT STORE', 'DOCTOR/DENTIST OFFICE', 'DRUG STORE',
       'DRY CLEANER/LAUNDRY', 'FACTORY/WAREHOUSE', 'FAST FOOD',
       'FOOD SUPERMARKET', 'GROCERY/BODEGA', 'GYM/FITNESS FACILITY',
       'HIGHWAY/PARKWAY', 'HOSPITAL', 'HOTEL/MOTEL', 'JEWELRY', 'MARINA/PIER',
       'MOSQUE', 'OPEN AREAS (OPEN LOTS)', 'OTHER', 'OTHER HOUSE OF WORSHIP',
       'PARK/PLAYGROUND', 'PARKING LOT/GARAGE (PRIVATE)',
       'PARKING LOT/GARAGE (PUBLIC)', 'PRIVATE/PAROCHIAL SCHOOL',
       'PUBLIC BUILDING', 'PUBLIC SCHOOL', 'RESIDENCE - APT. HOUSE',
       'RESIDENCE - PUBLIC HOUSING', 'RESIDENCE-HOUSE', 'RESTAURANT/DINER',
       'SMALL MERCHANT', 'SOCIAL CLUB/POLICY', 'STORAGE FACILITY',
       'STORE UNCLASSIFIED', 'STREET', 'TAXI (LIVERY LICENSED)',
       'TAXI (YELLOW LICENSED)', 'TAXI/LIVERY (UNLICENSED)',
       'TRANSIT - NYC SUBWAY', 'TRANSIT FACILITY (OTHER)', 'VARIETY STORE'],
      dtype='object')

# Feature Engineering

# Creation of df_model